/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

:root {
    --text-clr: white;
    --hover-clr: lightgray;
}

* {
    margin: 0;
    padding: 0;

}

html {
    line-height: 1.5rem;
}

body {
    min-height: 100vh;
    min-height: 100dvh;
    display: grid;
    grid-template-columns: auto 1fr;
}

#sidebar {
    box-sizing: border-box;
    height: 100vh;
    width: 250px;
    padding: 5px 1em;
    background-image: linear-gradient(#00004d, #e6f2ff);
    border-right: 1px solid white;
    position: absolute;
    top: 0;
    align-self: start;
    transition: 300ms ease-in-out;
    overflow: hidden;
    text-wrap: nowrap;
}

#sidebar.close{
    padding: 5px;
    width: 60px;
}

#sidebar ul{
    list-style: none;
}

#sidebar > ul > li:first-child{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 16px;
}

#sidebar ul li.active a{
    color: cornflowerblue;
}

#sidebar ul li.active a svg {
    fill: cornflowerblue;
}

#sidebar a, #sidebar .dropdown-btn, #sidebar .logo {
    border-radius: .5em;
    padding: .85em;
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    gap: 1em;
}

.dropdown-btn {
    width: 100%;
    text-align: left;
    background: none;
    border: none;
    font: inherit;
    cursor: pointer;
}

#sidebar svg {
    flex-shrink: 0;
    fill: white;
}

#sidebar a span, #sidebar .dropdown-btn span {
    flex-grow: 1;
}

#sidebar a:hover, #sidebar .dropdown-btn:hover {
    background-color: black;
}

#sidebar .sub-menu {
    display: grid;
    grid-template-rows: 0fr;
    transition: 300ms ease-in-out;
}

#sidebar .sub-menu div {
    overflow: hidden;
}

#sidebar .sub-menu.show {
    grid-template-rows: 1fr;
}

.dropdown-btn svg {
    transition: 200ms ease;
}

.rotate svg:last-child {
    rotate: 180deg;
}

#sidebar .sub-menu a {
    padding-left: 3em;
}

#toggle-btn {
    margin-left: auto;
    padding: 1em;
    border: none;
    border-radius: .5em;
    background: none;
    cursor: pointer;
}

#toggle-btn:hover {
    background-color: black;
}

#toggle-btn svg {
    transition: rotate 150ms ease;
}

img {
    padding-right: 40px;
    max-width: 145%;
    max-height: 145%;
}

.container {
    align-items: center;
    margin-left: 10%;
    display: grid;
    grid-template-columns: 150px auto;
}

.footer-container {
    margin-left: 10%;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 45px;
}
