@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html>
<head>
    <title>ViewData["Title"] = "Home Page";</title>
    <style>
        body {
            background-image: url("/assets/f35a56f2-df11-434c-901b-43b06a96bff7.png");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
    </style>
</head>
<body>

    <h1 style="color: white">This is a Heading</h1>
    <p style="color: white">This is a paragraph.</p>

</body>
</html>
