@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html>
<head>
    <title>ViewData["Title"] = "Home Page";</title>
    <style>
        body {
            background-image: url("/assets/HomeBackgroundImage.png");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }

        img {
            margin: 0 5vw;
        }

        h1 {
            color: white;
            font-size: 50px;
            font-weight: bold;
            margin-bottom: 5%;
        }

        p {
            color: white;
            font-size: 20px;
        }
    </style>
</head>
<body>
    <h1>Welcome!</h1>
    <p class="intro">Looking for a new way to study languages?<br/>Then you have come to right place!</p>
    <p class="main">Welcome to Language Core, a dynamic online platform designed to make learning foreign languages accessible, enjoyable, and effective. Whether you're just starting out or looking to sharpen your skills, Language Core offers a wide range of interactive lessons, real-world practice tools, and personalized learning paths to help you reach your goals. With support for multiple languages and resources designed by language experts, you’ll gain the confidence to speak, read, and understand your target language in no time. Dive into Language Core and start building your language foundation today!</p>
    <img src="https://hatscripts.github.io/circle-flags/flags/cn.svg" width="64">
    <img src="https://hatscripts.github.io/circle-flags/flags/de.svg" width="64">
    <img src="https://hatscripts.github.io/circle-flags/flags/kr.svg" width="64">
    <img src="https://hatscripts.github.io/circle-flags/flags/es.svg" width="64">
</body>
</html>
