@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html>
<head>
    <title>ViewData["Title"] = "Home Page";</title>
    <style>
        body {
            background-image: url("/assets/HomeBackgroundImage.png");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
    </style>
</head>
<body>
    <h1 style="color: white">This is a Heading</h1>
    <p style="color: white">This is a paragraph.</p>
    <img src="https://hatscripts.github.io/circle-flags/flags/br.svg" width="48">
    <img src="https://hatscripts.github.io/circle-flags/flags/cn.svg" width="48">
    <img src="https://hatscripts.github.io/circle-flags/flags/gb.svg" width="48">
    <img src="https://hatscripts.github.io/circle-flags/flags/id.svg" width="48">
    <img src="https://hatscripts.github.io/circle-flags/flags/in.svg" width="48">
    <img src="https://hatscripts.github.io/circle-flags/flags/ng.svg" width="48">
    <img src="https://hatscripts.github.io/circle-flags/flags/ru.svg" width="48">
    <img src="https://hatscripts.github.io/circle-flags/flags/us.svg" width="48">
</body>
</html>
